<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.demo_food.category.CategoryMapper">
    <insert id="insCategory" useGeneratedKeys="true" keyProperty="icategory">
        insert into d_category
        set category = #{category}
    </insert>
    <select id="selCategory">
        select icategory, category
        from d_category
        where category = #{category}
    </select>
</mapper>