<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.demo_food.menu.MenuMapper">
    <insert id="insMenu" useGeneratedKeys="true" keyProperty="imenu">
        insert into d_menu
        set menu=#{menu}
        ,price=#{price}
        ,icategory=#{icategory}
    </insert>
    <select id="selMenu">
        select icategory, imenu, menu, price
        from d_menu
        where del_yn = 0;
    </select>
    <select id="findPrice" resultType="int">
        select price
        from d_menu
        where imenu=#{imenu}
    </select>
    <update id="chooseMenuCount">
        UPDATE d_menu
        SET number_selections =number_selections + 1
        WHERE imenu=#{imenu}
    </update>
    <select id="delyn">
        select del_yn
        from d_menu
        where imenu=#{imenu}
    </select>
</mapper>