<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.demo_food.payment.PaymentMapper">
    <insert id="insPayment" >
        insert into d_payment
        set
        imanagement=#{imanagement}
        ,imenu=#{imenu}
        ,remainder_balance =#{remainderBalance}
        ,current_menu_price =#{currentMenuPrice}
        ,star_rating =#{starRating}
    </insert>
    <select id="getPayment">
        SELECT A.ipayment,B.name,C.menu,C.price,A.remainder_balance remainderBalance,A.payment_at,A.star_rating
        FROM d_payment A
        INNER JOIN (
        SELECT y.imanagement,x.iuser,x.name
        FROM d_user x
        INNER JOIN d_management y
        ON x.iuser=y.iuser
        ) B
        ON A.imanagement=B.imanagement
        INNER JOIN d_menu C
        ON A.imenu=C.imenu
        WHERE B.iuser=#{iuser}
    </select>
    
    <update id="setStarRating">

        update d_payment
        set star_rating =#{starRating}
        where ipayment=#{ipayment}
    </update>

</mapper>