<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.demo_food.user.UserMapper">
    <insert id="insUser" useGeneratedKeys="true"  keyProperty="iuser" >
        insert into d_user
        set name = #{name}
    </insert>
    <select id="findUser" resultType="Long">
        select iuser
        from d_user
        where name = #{name}
    </select>
    <select id="selUser">
        select iuser, name
        from d_user
        where iuser=#{iuser}
    </select>
    <select id="voUser">
        select iuser, name
        from d_user
        order by iuser
    </select>
</mapper>